body{
    background-color: #222;
    display: flex;
    align-items: center;
    justify-content:center;
    margin-top: 70px;
}

.container{
    width: 320px;
    background-image: linear-gradient(135deg, #006afe,#a5a4ab);
    display: flex;           
    flex-direction: column;    
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    text-align: center;
}

.search{
    margin-top: 40px;
}

.search input{
    background-color: #ebfffc;
    color: #555;
    margin-right: 3px;
}
.search input,button{
    font-size: 16px;
    border-radius: 5px;
    border: none;
    padding: 4px;
    border-radius: 8px;
}

.search button:hover{
    cursor: pointer;
    border: 1px solid black;
}

.weather-icon{
    width: 130px;
}

.weather h1{
    font-size: 60px;
    font-weight: 520;
    margin-top: -10px;
}

.weather h2{
    font-size: 30px;
    font-weight: 400;
    margin-top: -40px;
}

.details{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.col img{
    width: 50px;
}

p{
    margin-top: -15px;
    font-size: 15px;
}
.humidity,.wind{
    font-size: 20px;
    margin-top: 10px;
}

